.App{
  display: flex;
  place-content: center;
  background-color: #ecf0f1;
  height: 100vh;

}


.container{
  display: flex;
  margin-top: 10vh;
  background-color:white ;
  height: 80vh;
  width: 80vw ;
  box-shadow: 10px 0px 10px rgba(0, 0,0,0.5);
}
.sidebar{

  flex: 0.4;
  align-items: center;
 

}
.sidebar > input{
  height: 40px;
  width: 300px;
  margin: 20px;
  margin-top: 50%;
  font-size: large;
  border:none;
  box-shadow: 10px 0px 10px rgba(0, 0,0,0.5);


    
}
.sidebar>button{
  background-color: rgb(148, 194, 176);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  color: #ecf0f1;
  font-size: 20px;
  text-align: center;
  padding: auto;
  margin-left: 100px;
  box-shadow: 10px 0px 10px rgba(0, 0,0,0.5);
  border-color:seashell;
}

.task{
  background-color: #f7f7f7de;
  flex:1;
  overflow: scroll;
  overflow-x: hidden;

}
.card{
  background-color: white;
  height: fit-content;
  width: 40vw;
  margin:50px;
  box-shadow: 10px 0px 10px rgba(0, 0,0,0.5);
  padding:2px;
  border-radius: 5px;

}
.card>button{
  background-color: #e84118;
  font-size: large;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border-color: crimson;
}
